OSU_CLIENT_ID=0727
OSU_CLIENT_SECRET=wysiwysiwysiwysiwysiwysiwysiwysiwysiwysi
GOOGLE_APPLICATION_ID="gamer"
GOOGLE_APPLICATION_CREDENTIALS="./osu-gamer.json"
USERS_JSON="../users.json"
MICE_JSON="../mice.json"
MOUSEPADS_JSON="../mousepads.json"
KEYBOARDS_JSON="../keyboards.json"
